# PyCharm
.idea/
*.iml
*.iws
*.iws.iml
*.ipr

# Virtual Environment
**/*venv*/
**/*Venv*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache

# Environment
.env
.test.env
*.env*

# Logs
*/logs/*
!*/logs/.gitkeep

# Storage
*/storage/*
!*/storage/.gitkeep
*/storage_tets/*
!*/storage_test/.gitkeep
